<form class="col-md-4" #empForm="ngForm">
    <div class="form-group">
        <h4>Employee Form:</h4>
    </div>
    <div class="form-group">
        <label for="name">Name</label><sup>*</sup>
        <input type="text" class="form-control" id="name" 
        placeholder="Enter name" name="name" [(ngModel)]="employee.name" required >
    </div>
    <div class="form-group">
        <label for="designation">Designation</label><sup>*</sup>
        <input type="text" class="form-control" id="designation" name="designation" 
        placeholder="Enter designation" [(ngModel)]="employee.designation" required >
    </div>
    <div class="form-group">
        <label for="salary">Salary</label><sup>*</sup>
        <input type="number" class="form-control" id="salary" name="salary"
         placeholder="Enter Salary" [(ngModel)]="employee.salary"  required>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success"  [disabled]="empForm.invalid" *ngIf="employee.id>0" (click)="updateData()">Update</button>
        <button type="submit" class="btn btn-success" [disabled]="empForm.invalid" *ngIf="!employee.id>0" (click)="saveData()">Save</button>
        <button class="btn btn-danger" (click)="cancelData()">Cancel</button>
    </div>
</form>