
  <div class="form-group">
      <input class="form-control" type="text" [(ngModel)]="filterText" placeholder="Search using name , designation , salary">
  </div>
  
  <div class="form-group">
    <button class="btn btn-success" (click)="addEmployee()">Add Employee</button>
  </div>
  <h4>Employee Details:</h4>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Designation</th>
        <th>Salary</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let e of model | serachPipe:filterText">
        <td>{{e.name}}</td>
        <td>{{e.designation}}</td>
        <td>{{e.salary}}</td>
        <td>
          <button class="btn btn-success" (click)="editEmployee(e)">Edit</button>
          <button class="btn btn-danger" (click)="showPopup(e)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
<popup #popup (confirmClick)="deleteEmployee()" (cancelClick)="hidePopup()">
  Are you sure you want to delete Employee {{selectedEmployee!=null?selectedEmployee.name:''}} ?
</popup>