<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Welcome To Employee Management System</h1>
            <hr>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>